<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="cards">
        <h4>
          <a href="#">Mohan Kumar (@pmk) • Instagram photos and videos</a>
        </h4>
        <p>
          176m Followers, 587 Following, 6411 Posts - See Instagram photos and
          videos from Mohan Kumar (@pmk)
        </p>
      </div>
      <div class="people-ask">
        <h5>People also ask</h5>
        <hr />
        <div class="questions" *ngFor="let qns of questions">
          <span>{{ qns }}</span>
          <hr />
        </div>
      </div>

      <div class="cards">
        <h4><a href="#">Mohan Kumar Paluru- Wikipedia</a></h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
      <div class="cards">
        <h4><a href="#">Mohan Kumar Paluru- Youtube</a></h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="./../../assets/Images/mohan (39).jpg" alt="Mohan's Image" />
        <div class="about-detail">
          <h3>{{ aboutDetails.name}}</h3>
          <span>{{ aboutDetails.alias }}</span>
        </div>
        <hr />
        <div class="extra-details">
          <div *ngFor="let item of extraDetails | keyvalue">
            <span>{{ item.key }}</span> : {{ item.value }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
